<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="layout/header"></th:block>
<body>
<th:block th:insert="~{layout/navbar}"></th:block>
<div class="container-fluid">
    <div class="row">
        <th:block th:insert="~{layout/sidebar}"></th:block>
        <div class="content col-sm min-vh-100">
            <!-- content -->
            <br>
            <div class="content-header row align-items-center">
                <div class="col-auto col-md-10 col-xl-10 px-sm-10">
                    <h6>Exam</h6>
                </div>
            </div>
            <hr>
            <br>
            <br>
            <div class="row">
                <div class="col-12">
                    <form th:action="@{/candidate/exams}">
                        <div class="row">
                            <div class="col-md-2 form-group">
                                <label for="sortField">Field</label>
                                <select name="sortField" id="sortField" class="form-control">
                                    <option
                                            th:selected="${session.containsKey('sortField') && session.sortField == 'startDate'}"
                                            value="startDate">
                                        Start Date
                                    </option>
                                    <option
                                            th:selected="${session.containsKey('sortField') && session.sortField == 'state'}"
                                            value="state">
                                        State
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-2 form-group">
                                <label for="orderBy">Order By</label>
                                <select name="orderBy" id="orderBy" class="form-control">
                                    <option th:value="${null}">N/A</option>
                                    <option
                                            th:selected="${session.containsKey('orderBy')
                                && session.orderBy != null
                                && session.orderBy == 'asc'}"
                                            value="asc">
                                        Ascending</option>
                                    <option
                                            th:selected="${session.containsKey('orderBy')
                                && session.orderBy != null
                                && session.orderBy == 'desc'}"
                                            value="desc">Descending</option>
                                </select>
                            </div>
                            <div class="col-md-2 form-group">
                                <label for="submitButton">Sort List</label>
                                <input id="submitButton" type="submit" class="btn btn-outline-success form-control">
                            </div>
                        </div>
                    </form>
                    <br>
                    <br>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table" id="examTable">
                    <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Date</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="exam : ${exams}">
                        <td th:text="${exam.title}"></td>
                        <td th:text="${exam.startDate}"></td>
                        <td th:text="${exam.duration}"></td>
                        <td >
                            <div class="d-flex flex-row">
                                <!-- Edit -->
                                <div class="p-2"
                                     th:if="${exam.state == T(com.app.examhusky.model.enums.ExamState).ON_GOING}">
                                    <a class="btn btn-outline-info"
                                       th:href="@{'/candidate/exam/{id}/prepare-exam-paper'(id=${exam.id})}">
                                        <i class="fas fa-paste"></i>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- exams pagination -->
                <nav aria-label="Pagination" th:if="${exams.totalPages gt 0}">
                    <ul class="pagination justify-content-center font-weight-bold">
                        <li class="page-item" th:classappend="${exams.number eq 0} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{'/exam?page={id}'(id=${exams.number lt 2 ? 1 : exams.number})}"
                               aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"
                            th:classappend="${i eq exams.number + 1} ? 'active'"
                            th:each="i : ${#numbers.sequence( 1, exams.totalPages, 1)}">
                            <a class="page-link"
                               th:href="@{'/exam?page={id}'(id=${i})}"
                               th:text="${i}"
                               th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                        </li>
                        <li class="page-item"
                            th:classappend="${exams.number + 1 eq exams.totalPages} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{'/exam?page={id}'(id=${exams.number + 2})}"
                               aria-label="Next" title="Next Page" data-toggle="tooltip">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="~{layout/js_urls}"></th:block>
</body>
</html>