<div xmlns:th="http://www.thymeleaf.org">
    <script th:src="@{/webjars/popper.js/2.9.2/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/3.7.1/jquery.js}"></script>
    <script th:src="@{/webjars/jquery-ui/1.13.0/jquery-ui.js}"></script>
    <script th:src="@{/webjars/datatables/1.13.5/js/jquery.dataTables.min.mjs}"></script>
    <script th:src="@{/webjars/datatables/1.13.5/js/dataTables.bootstrap5.min.mjs}"></script>
    <script>
        $(document).ready(function() {
            $( ".date-selector" ).datepicker({
                dateFormat: "dd/mm/yy",
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true,
                showOtherMonths: true,
                selectOtherMonths: true,
                yearRange: "-60:+20"
            });
        });
    </script>
</div>