<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="layout/header"></th:block>
<body>
<th:block th:insert="~{layout/navbar}"></th:block>
<div class="container-fluid">
    <div class="row">
        <th:block th:insert="~{layout/sidebar}"></th:block>
        <div class="content col-sm min-vh-100">
            <!-- content -->
            <div class="row">
                <div class="col-auto col-md-10 col-xl-10 px-sm-10 px-0 bg-white">
                    <h6>Edit Question</h6>
                    <hr>
                    <form th:object="${question}" th:method="put">
                        <div class="mb-3">
                            <label for="label" class="form-label">Question</label>
                            <input type="text" class="form-control" id="label"
                                   th:field="*{title}">
                            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="disabled"
                                   th:field="*{disabled}">
                            <label class="form-check-label" for="disabled">Disabled?</label>
                            <span th:if="${#fields.hasErrors('disabled')}" th:errors="*{disabled}"></span>
                        </div>
                        <div class="mb-3">
                            <label for="designation">Select Category</label>
                            <select class="form-control" id="designation" th:field="*{category}">
                                <option label="-- Select an option --" value=""></option>
                                <option th:each="questionCategory : ${questionCategoryList}"
                                        th:value="${questionCategory.getId()}"
                                        th:text="${questionCategory.getTitle()}"
                                        th:selected="${question.getCategory() != null and question.getCategory().getId() == questionCategory.getId()}">
                                </option>
                            </select>
                            <span th:if="${#fields.hasErrors('category')}"
                                  th:errors="*{category}"></span>
                        </div>
                        <label>
                            <input class="btn btn-outline-success" type="submit" value="Save">
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="~{layout/js_urls}"></th:block>
</body>
</html>