<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="layout/header"></th:block>
<body>
<th:block th:insert="~{layout/navbar}"></th:block>
<div class="container-fluid">
    <div class="row">
        <th:block th:insert="~{layout/sidebar}"></th:block>
        <div class="content col-sm min-vh-100">
            <!-- content -->
            <br>
            <div class="content-header row align-items-center">
                <div class="col-auto col-md-10 col-xl-10 px-sm-10">
                    <h6>Exam Candidates</h6>
                </div>
            </div>
            <hr>
            <br>
            <br>
            <div class="row">
                <table class="table" id="examInformation">
                    <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">Duration</th>
                        <th scope="col">State</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${exam.getTitle()}"></td>
                        <td th:text="${exam.getStartDate()}"></td>
                        <td th:text="${exam.getDuration()}"></td>
                        <td th:text="${exam.getState()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="row">
                <div class="col-4">
                    <div id="examCandidateList">
                        <table class="table" id="examCandidateTable">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Mobile</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="candidate : ${examCandidateList}">
                                <td th:text="${candidate.getAccount().getFullName()}"></td>
                                <td th:text="${candidate.getMobileNumber()}"></td>
                                <td>
                                    <div class="col-2">
                                        <form
                                                th:action="@{'/exam/{examId}/candidate/{candidateId}/remove'(examId=${exam.id}, candidateId=${candidate.id})}"
                                              th:method="put"
                                              onsubmit="return confirm('Do you really want to remove this candidate?');">
                                            <button type="submit" class="btn btn-outline-danger">
                                                <i class="fas fa-ban"></i>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- examCandidateList pagination -->
                        <nav aria-label="Pagination" th:if="${examCandidateList.totalPages gt 0}">
                            <ul class="pagination justify-content-center font-weight-bold">
                                <li class="page-item" th:classappend="${examCandidateList.number eq 0} ? 'disabled'">
                                    <a class="page-link"
                                       th:href="@{'/candidate?page={id}'(id=${examCandidateList.number lt 2 ? 1 : examCandidateList.number})}"
                                       aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"
                                    th:classappend="${i eq examCandidateList.number + 1} ? 'active'"
                                    th:each="i : ${#numbers.sequence( 1, examCandidateList.totalPages, 1)}">
                                    <a class="page-link"
                                       th:href="@{'/candidate?page={id}'(id=${i})}"
                                       th:text="${i}"
                                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                                </li>
                                <li class="page-item"
                                    th:classappend="${examCandidateList.number + 1 eq examCandidateList.totalPages} ? 'disabled'">
                                    <a class="page-link"
                                       th:href="@{'/candidate?page={id}'(id=${examCandidateList.number + 2})}"
                                       aria-label="Next" title="Next Page" data-toggle="tooltip">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-8">
                    <div id="availableCandidateList">
                        <table class="table" id="availableCandidateListTable">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Mobile</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="candidate : ${availableCandidateList.getContent()}">
                                <td th:text="${candidate.account.fullName}"></td>
                                <td th:text="${candidate.mobileNumber}"></td>
                                <td>
                                    <div class="col-2">
                                        <form
                                                th:action="@{'/exam/{examId}/candidate/{candidateId}/add'(examId=${exam.id}, candidateId=${candidate.id})}"
                                              th:method="put"
                                              onsubmit="return confirm('Do you really want to add this candidate?');">
                                            <button type="submit" class="btn btn-outline-success">
                                                <i class="far fa-check-circle"></i>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- availableCandidateList pagination -->
                        <nav aria-label="Pagination" th:if="${availableCandidateList.totalPages gt 0}">
                            <ul class="pagination justify-content-center font-weight-bold">
                                <li class="page-item"
                                    th:classappend="${availableCandidateList.number eq 0} ? 'disabled'">
                                    <a class="page-link"
                                       th:href="@{'/candidate?page={id}'(id=${availableCandidateList.number lt 2 ? 1 : availableCandidateList.number})}"
                                       aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"
                                    th:classappend="${i eq availableCandidateList.number + 1} ? 'active'"
                                    th:each="i : ${#numbers.sequence( 1, availableCandidateList.totalPages, 1)}">
                                    <a class="page-link"
                                       th:href="@{'/candidate?page={id}'(id=${i})}"
                                       th:text="${i}"
                                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                                </li>
                                <li class="page-item"
                                    th:classappend="${availableCandidateList.number + 1 eq availableCandidateList.totalPages} ? 'disabled'">
                                    <a class="page-link"
                                       th:href="@{'/candidate?page={id}'(id=${availableCandidateList.number + 2})}"
                                       aria-label="Next" title="Next Page" data-toggle="tooltip">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="~{layout/js_urls}"></th:block>
</body>
</html>