<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="layout/header"></th:block>
<body>
<th:block th:insert="~{layout/navbar}"></th:block>
<div class="container-fluid">
    <div class="row">
        <th:block th:insert="~{layout/sidebar}"></th:block>
        <div class="content col-sm min-vh-100">
            <!-- content -->
            <br>
            <div class="content-header row align-items-center">
                <div class="col-auto col-md-10 col-xl-10 px-sm-10">
                    <h6>Exam Examiners</h6>
                </div>
            </div>
            <hr>
            <br>
            <br>
            <div class="row">
                <table class="table" id="examInformation">
                    <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">Duration</th>
                        <th scope="col">State</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${exam.title}"></td>
                        <td th:text="${exam.startDate}"></td>
                        <td th:text="${exam.duration}"></td>
                        <td th:text="${exam.state}"></td>
                        <td>
                            <div class="d-flex flex-row">
                                <!-- Examiner -->
                                <div class="p-2">
                                    <a class="btn btn-outline-info" th:href="@{'/exam/{id}/examiner'(id=${exam.id})}">
                                        <i class="fas fa-book-reader"></i>
                                    </a>
                                </div>
                                <!-- Question -->
                                <div class="p-2">
                                    <a class="btn btn-outline-info" th:href="@{'/exam/{id}/question'(id=${exam.id})}">
                                        <i class="fas fa-book-open"></i>
                                    </a>
                                </div>
                                <!-- Candidate -->
                                <div class="p-2">
                                    <a class="btn btn-outline-info" th:href="@{'/exam/{id}/candidate'(id=${exam.id})}">
                                        <i class="fas fa-user-graduate"></i>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="row">
                <div class="col-4">
                    <div id="examExaminers">
                        <table class="table" id="examExaminerTable">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Designation</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="examiner : ${examExaminers}">
                                <td th:text="${examiner.account.fullName}"></td>
                                <td th:text="${examiner.designation.name}"></td>
                                <td>
                                    <div class="col-2">
                                        <form th:action="@{'/exam/{examId}/examiner/{examinerId}/remove'(examId=${exam.id}, examinerId=${examiner.id})}"
                                              th:method="put"
                                              onsubmit="return confirm('Do you really want to remove this examiner?');">
                                            <button type="submit" class="btn btn-outline-danger">
                                                <i class="fas fa-ban"></i>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- examExaminers pagination -->
                        <nav aria-label="Pagination" th:if="${examExaminers.totalPages gt 0}">
                            <ul class="pagination justify-content-center font-weight-bold">
                                <li class="page-item" th:classappend="${examExaminers.number eq 0} ? 'disabled'">
                                    <a class="page-link"
                                       th:href="@{'/examiner?page={id}'(id=${examExaminers.number lt 2 ? 1 : examExaminers.number})}"
                                       aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"
                                    th:classappend="${i eq examExaminers.number + 1} ? 'active'"
                                    th:each="i : ${#numbers.sequence( 1, examExaminers.totalPages, 1)}">
                                    <a class="page-link"
                                       th:href="@{'/examiner?page={id}'(id=${i})}"
                                       th:text="${i}"
                                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                                </li>
                                <li class="page-item"
                                    th:classappend="${examExaminers.number + 1 eq examExaminers.totalPages} ? 'disabled'">
                                    <a class="page-link"
                                       th:href="@{'/examiner?page={id}'(id=${examExaminers.number + 2})}"
                                       aria-label="Next" title="Next Page" data-toggle="tooltip">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-8">
                    <div id="availableExaminers">
                        <table class="table" id="availableExaminersTable">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Designation</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="examiner : ${availableExaminers.getContent()}">
                                <td th:text="${examiner.account.fullName}"></td>
                                <td th:text="${examiner.designation.name}"></td>
                                <td>
                                    <div class="col-2">
                                        <form th:action="@{'/exam/{examId}/examiner/{examinerId}/add'(examId=${exam.id}, examinerId=${examiner.id})}"
                                              th:method="put"
                                              onsubmit="return confirm('Do you really want to add this examiner?');">
                                            <button type="submit" class="btn btn-outline-success">
                                                <i class="far fa-check-circle"></i>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- availableExaminers pagination -->
                        <nav aria-label="Pagination" th:if="${availableExaminers.totalPages gt 0}">
                            <ul class="pagination justify-content-center font-weight-bold">
                                <li class="page-item"
                                    th:classappend="${availableExaminers.number eq 0} ? 'disabled'">
                                    <a class="page-link"
                                       th:href="@{'/examiner?page={id}'(id=${availableExaminers.number lt 2 ? 1 : availableExaminers.number})}"
                                       aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"
                                    th:classappend="${i eq availableExaminers.number + 1} ? 'active'"
                                    th:each="i : ${#numbers.sequence( 1, availableExaminers.totalPages, 1)}">
                                    <a class="page-link"
                                       th:href="@{'/examiner?page={id}'(id=${i})}"
                                       th:text="${i}"
                                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                                </li>
                                <li class="page-item"
                                    th:classappend="${availableExaminers.number + 1 eq availableExaminers.totalPages} ? 'disabled'">
                                    <a class="page-link"
                                       th:href="@{'/examiner?page={id}'(id=${availableExaminers.number + 2})}"
                                       aria-label="Next" title="Next Page" data-toggle="tooltip">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="~{layout/js_urls}"></th:block>
</body>
</html>